# Dependecies
/node_modules

# Next.js build output
/.next/
/out/

# Environment variables
.env*.local

# IDE / OS
.DS_Store
.vscode/
.idea/
next-env.d.ts

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

!.env.example
