@import "tailwindcss";

/*
Palett di colori:
- Background scuro: #0a0b10
- Testo chiaro: #f3f4f6
- Testo grigio chiaro: #9ca3af
- Testo arancione in linear gradient:
    arancione scuro: #d77635
    arancione chiaro: #f2a65a
- Sfondo pannelli scuro: #181a22
- Stroke: #9ca3af
- Sconti:
    arancione: #f2a65a
    blue: #2b9ad8
    rosso: #910505
- Testo NEW: #d81733
*/

@theme inline {
  --color-background: var(--background);
  --color-stroke: var(--stroke);
  --color-normal-text: var(--text);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0b10;
    --stroke: #9ca3af;
    --text: #f3f4f6;
    --light-gray-text: #9ca3af;
    --orange-gradient-start: #d77635;
    --orange-gradient-end: #f2a65a;
    --panel-background: #181a22;
  }
}

body {
  background: var(--background);
  color: var(--color-normal-text);
  font-family: sans-serif;
}
